@font-face {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-display: swap;
  src: url ("../fonts/ptsans.woff") format("woff");
  src: url ("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-display: swap;
  src: url ("../fonts/ptsansbold.woff") format("woff");
  src: url ("../fonts/ptsansbold.woff2") format("woff2");
}
